//Declarações das variaveis
.Color-f1faee{
    background-color: #f1faee;
}

.Color-a8dadc{
    background-color: #a8dadc;
}

.Color-5ca5d3{
    background-color: #5ca5d3!important;
    color: #ffffff!important;
    border-color: #5ca5d3!important;
}
//Importação do bootstrap

@import "node_modules/bootstrap/scss/bootstrap";